@model IEnumerable<CarRental.Models.ViewModels.CarEventVM>

@{
    ViewData["Title"] = "CarEvents";
}

<h1>CarEvents</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarLicenseNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfEvent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfEvent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CarLicenseNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeOfEvent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOfEvent)
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a class="nav-link" asp-controller="Booking" asp-action="Cars">Show all cars</a>
</div>
