@model IEnumerable<CarRental.Models.Entities.AvailableCars>

@{
    ViewData["Title"] = "Cars";
}

<h1>Cars</h1>

    <p>
        <a asp-controller="Car" asp-action="Create">Add new rentalcar</a>
    </p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarLicenseNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentMileage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CleaningRequired)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceRequired)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimesRented)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarLicenseNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentMileage)
                </td>
                <td>
                    @if (item.IsAvailable == false)
                    {
                        @Html.Raw("No");
                    }
                    else
                    {
                        @Html.Raw("Yes");
                    }
                </td>
                <td>
                    @if (item.CleaningRequired == false)
                    {
                        @Html.Raw("No");
                    }
                    else
                    {
                        @Html.Raw("Yes");
                    }
                </td>
                <td>
                    @if (item.ServiceRequired == false)
                    {
                        @Html.Raw("No");
                    }
                    else
                    {
                        @Html.Raw("Yes");
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimesRented)
                </td>
                <td>
                    @if (item.CleaningRequired == true)
                    {
                        <form asp-controller="Booking" asp-action="Clean" asp-route-carLicenseNumber="@item.CarLicenseNumber"><input type="submit" value="Is cleaned" /></form>
                    }
                </td>
                <td>
                    @if (item.ServiceRequired == true)
                    {
                        <form asp-controller="Booking" asp-action="Service" asp-route-carLicenseNumber="@item.CarLicenseNumber"><input type="submit" value="Is serviced" /></form>
                    }
                </td>
                <td>
                    @if (item.CurrentMileage > 2000)
                    {
                        @Html.Raw("Car has exceeded its usage limit of 2000 km");
                    }
                </td>

            </tr>
        }
    </tbody>
</table>
