@model IEnumerable<CarRental.Models.Entities.Clients>

@{
    ViewData["Title"] = "ClientList";
}

<h1>ClientList</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientSsn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoyaltyLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistanceCovered)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientSsn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoyaltyLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistanceCovered)
            </td>
            <td>
                <a asp-controller="Booking" asp-action="GetBookingsByClient" asp-route-id="@item.Id">Booking history</a>
                <a asp-controller="Car" asp-action="ClientEvents" asp-route-id="@item.Id">Event log</a>
            </td>
        </tr>
}
    </tbody>
</table>
